:host {
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

  .container .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 991px) {
    .container {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .item {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0;
    }


    .container .animated {
      -webkit-animation: none;
      animation: none;
    }

    .container .img {
      text-align: center;
    }

    .container .img {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    .container h1 {
      font-size: 28px;
      line-height: 36px;
    }

    .container .desc {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .container .img {
      width: 70%;
    }
  }

  @media (max-width: 575px) {
    .container .img {
      width: 80%;
    }

    .container .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }


  /* ---------------
  ==========================
  ====================================== */


  .container {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
  }

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .title {
    font-size: 56px;
    background: linear-gradient(to bottom, cornflowerblue, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600 !important;
  }

  .img {
    position: inherit;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    animation: move 2s infinite ease alternate;
  }

  @keyframes move {
    from {
      transform: translateY(-3px);
    }

    to {
      transform: translateY(3px);
    }
  }
}